#login {
    margin-top: -6px;
    text-align: left;
    font-size: 18px;
    font-family: 'Bubblegum Sans', monospace;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #42a1af;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #42a1af;
    color: white;
    padding: 14px 20px;
    margin: 12px 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

li {
    font-weight: bolder;
}

#beli {
    margin-top: -6px;
    text-align: left;
    font-size: 18px;
    font-family: 'Bubblegum Sans', monospace;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}