div #creator {
    display: table-cell;
    position: relative;
    margin: 0px auto;
    left: 190px;
}

div #agung {
    line-height: 2em;
    display: table-cell;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    right: 40px;
}

div #haris {
    line-height: 2em;
    display: table-cell;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    left: 10px;
}

div #mefpri {
    line-height: 2em;
    display: table-cell;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    right: -60px;
}

section#kontakkami {
    display: table-cell;
    color: black;
    background-color: white;
    width: 2000px;
    font-size: 105%;
    vertical-align: top;
    padding: 15px;
    padding-bottom: 1px;
    text-align: center;
}

div #kotak1 {
    display: table-cell;
}

td.nama {
    text-align: center;
}

table {
    border: thin solid black;
    border-collapse: collapse;
    width: 280PX;
}

td {
    border: thin solid black;
    padding: -1px;
    font-size: 12px;
}

td.gambar {
    padding: 15px;
}

td.nama {
    padding: 20px;
    color: white;
    background-color: black;
    font-size: 18px;
    margin-top: 0px;
}

.jalan {
    position: absolute;
    top: 42px;
    left: 36px;
}

.kontak {
    background: white;
}