#mesinpencari {
  position: absolute;
  text-align:  right;
  right:       10px;
  top:         -8px;
}

input[type=submit] {
    background-color:   black;
    color:              white;
    font-weight:        bolder;
    padding:            3px 16px;
    margin:             5px 0;
    cursor:             pointer;
}

input[type=text], input[type=number], select {
    padding:            3px 20px;
    margin:             5px 0;
}

input[type=submit]:hover {
    background-color:   grey;
}

.d {
  color:    red;
  font-weight: boler;
  font-size: large;
}